default:
    suites:
        default:
            contexts:
                - ORMContext:
                    doctrine: "@doctrine"
                    manager: "@doctrine.orm.entity_manager"
                    connection: "@doctrine.dbal.connection"
                - FeatureContext:
                    kernel: '@kernel'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
