{% extends 'base.html.twig' %}

    {% block body %}
        <div id="app2">

        </div>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('build/main.js') }}"></script>#}
{% endblock %}